 .u-section-1 {
  background-image: url("images/BA_bookmark_03.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 887px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  width: 737px;
  font-weight: 400;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 400;
  width: 393px;
  margin: 32px auto 0;
}

.u-section-1 .u-form-1 {
  height: 582px;
  width: 510px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  background-image: none;
  margin: 42px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  background-image: none;
}

.u-section-1 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-input-5 {
  --progress: 0%;
  margin-left: 0;
  font-weight: normal;
  background-image: none;
}

.u-section-1 .u-form-group-6 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-input-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-form-group-7 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
}

.u-section-1 .u-input-7 {
  background-image: none;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
  font-weight: normal;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
}

.u-section-1 .u-input-8 {
  background-image: none;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
}

.u-section-1 .u-input-9 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  display: inline-block;
  padding: 14px 30px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-group-1 {
    font-weight: normal;
  }

  .u-section-1 .u-form-group-2 {
    font-weight: normal;
  }

  .u-section-1 .u-form-group-5 {
    font-weight: normal;
  }

  .u-section-1 .u-form-group-6 {
    font-weight: normal;
  }

  .u-section-1 .u-form-group-7 {
    font-weight: normal;
  }

  .u-section-1 .u-form-group-9 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}